.card {
    max-width: 400px;
}

header {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.card-img {
    height: 40px;
    width: 40px;
}

.card-title {
    font-weight: bold;
}